<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>登录页面</title>
</head>
<body>
<h1>登录页面</h1>
<form action="/login" method="POST">
姓名： <input type="text" name="username">
密码： <input type="text" name="password">
<input type="submit" value="登录">
<a href="/register">没有账号?点击注册</a>
</form>
</body>
<!-- <script src="jquery.min.js"></script> -->
<script>
 /*  $(function(){
    $('button').on('click',function(){
      console.log('sss')                                                                      
    })
  }) */
</script>
</html>