<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>提示信息页面</title>
</head>
<body>
<h1><%= msg %></h1>
<!-- <%if(typeof docs == 'string'){%> -->
<!-- <%}else{%> -->
<!-- <h1>登录成功 欢迎你,<%= msg.username %></h1> -->
<!-- <h1><%= msg.password %></h1> -->
<!-- <%}%> -->
</body>
</html>