<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>上新啦小主~</title>
</head>
<body>
<form action="/add" method="POST">
商品编号： <input type="text" name="pid"><br>
商品名称： <input type="text" name="pname"><br>
商品价格： <input type="text" name="price"><br>
商品库存： <input type="text" name="count"><br>
<input type="submit" value="确认进货">
</form>
</body>
</html>